body {
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.header {
  background: #0A182E;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.logo {
  font-weight: bold;
  font-size: 40px;
}

.create-button {
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #fff;
  background: transparent;
  color: white;
  cursor: pointer;
}

.content-section {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0
}

.bloglist-cotainer {
  margin: 20px 0;
}

.blog-card {
  border: 2px solid #0A182E;
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 16px;

}

.card-heading {
  color: #0A182E;
  cursor: pointer;
}

.form-card {
  background: #0A182E;
  padding: 22px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

.field-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 14px
}

.label {
  color: #fff;
}

.label>span {
  color: red;
}

.field-box>input {
  height: 39px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0 10px;
}

.field-box>textarea {
  min-height: 95px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 10px;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-box>button {
  width: 100%;
  max-width: 200px;
  padding: 13px !important;
  font-size: 20px;
}

.heading-create-new-blog {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.error-message{
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.footer{
  background: #0A182E;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}